<head>
    
		<title>minihackathon</title>
		<link rel ="stylesheet" type="text/css" href="stylesheets/style.css">
		<style>
			.header clearfix{
				display: none;
			}
		</style>
		
</head>

<body>
    <div class="main_banner">
			<img class ="video" src="assets/1.jpg" style="top: 0;">
			<a href = '/posts'><div class="video_sample_text">Hello,</div></a>
			
	</div>
</body>
